html {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #e42d40;
}
a:hover {
  font-style: italic;
}
h1,
h2,
#news {
  font-weight: 300;
}
#news {
  font-size: 1.5em;
  line-height: 1.5em;
}
.tableone {
  border-collapse: collapse;
}
.title {
  color: white;
  width: 1200px;
  height: auto;
  padding: 15px;
  background-color: #5383ec;
  box-shadow: 2px 2px 2.5px grey;
}
.odd h1 {
  font-size: 48px;
}
.even h1 {
  font-size: 48px;
}
.odd p {
  color: #545861;
}
.even p {
  color: #545861;
}
.odd {
  padding: 70px;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 0px solid;
  background-color: #323841;
  color: #fefefd;
}
.even {
  padding: 70px;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 0px solid;
  background-color: #2c323b;
  color: #fefefd;
}
.odd:hover {
  margin: 0;
  position: relative;
  border-bottom: 4px solid #00FFF4;
  box-shadow: 10px 10px 5px grey;
}
.odd:hover:before {
  position: absolute;
  background: #C0C5FD;
  height: 4px;
  content: '';
  width: 115px;
  bottom: -4px;
  left: 0;
}
.even:hover {
  margin: 0;
  position: relative;
  border-bottom: 4px solid #00FFF4;
  box-shadow: 10px 10px 5px grey;
}
.even:hover:before {
  position: absolute;
  background: #C0C5FD;
  height: 4px;
  content: '';
  width: 115px;
  bottom: -4px;
  left: 0;
}
.oddtwo {
  font-size: 48px;
  padding: 70px;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 0px solid;
  background-color: #323841;
  color: #fefefd;
}
